/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font: 400 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #344052;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}


@media (min-width: 768px) {
}


#swagger-ui-container {
   margin-left: 0px;
   margin-right: 0px;
}

.swagger-section {
   background-color: ;
}



.heading h2,
a.toggleEndpointList{
   color: #cecfd5 !important;
}

ul#resources li.resource div.heading ul.options li a {
  color: #cecfd5 !important;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options {
       width: 310px;
}

ul#resources li.resource ul.endpoints div.heading ul.options li a {
  color: inherit!important;
}

.intro {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 20px 0 20px 0;
  height: 166px;
}

.intro p{
    margin: 30px auto;
    text-align: center;
    max-width: 800px;
    font-weight: 400;
    color: #888;
}

.brand {
  color: #62C2C6 !important;
}

.info_title {
  display: none !important;
}