
<div class="modal fade in" id="error-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <span class="h3 modal-title">
          
          Alert
          
          </span>
       </div> <!---/modal header-->
      
      <div class="modal-body"> 
      
      <h3>There are some problems:</h3>
      <br>
      <p id="error-modal-message"></p>
    
    
      </div><!---/modal body-->

      <div class = "modal-footer">
        <a class="button close " data-dismiss="modal" href="/catalog" id="processing-btn">Close</a>
      </div>
    </div>
  </div>
</div>