{% extends "base.html" %}

{% block content %}
      <div class="intro">
          <p>This IBM Machine Learning Service provides you a holistic access for all ML models that are available to you in Bluemix across different analytic services, <br>including <a href="https://console.ng.bluemix.net/catalog/services/predictive-analytics/">SPSS Predictive Analytics</a>, <a href="http://www.ibm.com/software/data/dashdb">dashDB</a> and <a href="https://console.ng.bluemix.net/catalog/starters/apache-spark">Apache Spark</a>. <br>You can add and even auto-train new models easily in self service way without being a data scientist. <br>Furthermore you get here the support to embed usage of these models into your own application.</p>
     </div>


     <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 display">

          <h2>Dashdb</h2>
          <p>You can add and even auto-train new models easily in self service way without being a data scientist. 
Furthermore you get here the support to embed usage of these models into your own application.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 display">

          <h2>SPSS</h2>
          <p>You can add and even auto-train new models easily in self service way without being a data scientist. 
Furthermore you get here the support to embed usage of these models into your own application.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 display">

          <h2>Spark</h2>
          <p>You can add and even auto-train new models easily in self service way without being a data scientist. 
Furthermore you get here the support to embed usage of these models into your own application.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script>
     	$('.sidebar').hide()
     </script
{% endblock%}